<body>
    <table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="200" valign="top"><img class="image_fix" src="http://meadowlarktravel.com/email/logo.png" alt="Meadowlark" title="Meadowlark"
                                width="180" height="220" /></td>
                    </tr>
                    <tr>
                        <td width="200" valign="top">
                            <p>{{cart.billing.name}}, merci beaucoup.</p>
                            <p>Serial num: {{car.number}}, mail address: {{cart.billing.email}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="200" valign="top">Contact
                            <span class="mobile_link">33-45678</span>.</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>