{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}

<h1>Page Test</h1>
<p>jQuery testField.</p>

{{#section 'jquery'}}
    <script>
        $('document').ready(function(){
            $('h1').html('jQuery in functioning');
        });
    </script>
{{/section}}